.navlinieeins {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // .logo {
  //   logo
  // }
  .nav-weather {
    position: absolute;
    right: 0;
    top: 49%;
    display: flex;
    align-items: flex-end;
    p {
      margin: 0;
      margin-right: 1em;
    }
    img {
      width: 30px;
    }
  }
}

.nav-links {
  display: flex;
  margin: 0;
  padding: 1em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  justify-content: center;

  .nav-links-active {
    color: #e1936a;
    font-weight: 700;
  }
}

.nav-links li {
  list-style: none;
  margin-right: 54px;
  text-align: center;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.nav-desktop {
  @include media(l) {
    display: block;
  }
  display: none;
}

.nav-mobile-header{
  position: fixed;
  top: 0;
  background-color: #191919;
  z-index: 9999;
  width: 96%;


  @include media(l) {
    display: none;
  }
  display: block;

  .logo {
    border-bottom: 1px solid;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}

.nav-burger-mobile {
  position: fixed;
  top: 2em;
  right: 1em;
  z-index: 11;
  cursor: pointer;


  > div {
    height: 2px;
    width: 40px;
    background-color: white;
    transition: all 0.4s ease;
    margin: auto;
    margin-bottom: 12px;
    transform-origin: left center;
  }
  &.nav-is-active {
    > div {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(2) {
        width: 1px;
        background-color: transparent;
      }
    }
  }

  @include media(l) {
    display: none;
  }
  display: block;
}

.nav-mobile {

  @include media(l) {
    display: none;
  }
  position: fixed;
  display: block;
  background-color: #191919;
  color: white;
  transition: opacity 0.4s ease;

  top: 10;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 2em;

  z-index: 10;

  opacity: 0;
  pointer-events: none;
  &.nav-is-active {
    opacity: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    // li {
    // }
    a {
      display: block;
      padding: 0.4em 0.8em;
      color: inherit;
      &:hover {
        background-color: black;
        color: #e1936a;
      }
    }
  }
}
