.like__btn {
  
  text-shadow: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  position: relative;

  &:focus {
    outline: 0 !important;
  }

  
}

.like__count{
  width: 6rem;

}
