// Link Handling

a {
  text-decoration: none;
  color: #E1936A;
 
}

a:visited {
  color: #E1936A;
}

a.weiss {
	text-decoration: none;
	color: #ffffff;
   
  }

a.weiss:visited {
	color: #ffffff;
  }

a:hover {
  color: inherit;
}



.linkgross {
		height: 3em;
		width: 10em;
		text-align: left;
		padding-left: 1em;
		position: relative;
	display: inline-block;
	font-size: 18px;
}

.linkgross:hover {
		color: #E58654;
}

.linkgross::before {
		content: "";
		display: block;
		height: 2px;
		width: 40px;
		background: #E1936A;
		position: absolute;
		top: 33%;
		right: -19px;
		transition: .5s;
}

.linkgross::after {
		content: "";
		display: block;
		height: 10px;
		width: 10px;
		border: 2px solid;
		border-top-color: transparent;
		border-left-color: transparent;
		position: absolute;
		top: 24%;
		right: -18px;
		margin-top: 1px;
		transform: rotate(-45deg);
		transition: .5s;
}

.linkgross:hover::before {
		right: -28px;
		background: #E58654;
}

.linkgross:hover::after {
		right: -28px;
}

//Link Klein 

.linkklein {
	height: 3em;
	width: 10em;
	text-align: left;
	position: relative;
	display: inline-block;
	font-size: 16px;
}

.linkklein.overlaylink {
	position: absolute;
	top: 60%;
	left: 10%;
 

}

.linkklein:hover {
	color: #E58654;
}

.linkklein::before {
	content: "";
	display: block;
	height: 2px;
	width: 30px;
	background: #E58654;
	position: absolute;
	top: 33%;
	right: 5px;
	transition: .5s;
}

.linkklein.weiss::before {
	background: #ffffff;
	
}

.linkklein::after {
	content: "";
	display: block;
	height: 10px;
	width: 10px;
	border: 2px solid;
	border-top-color: transparent;
	border-left-color: transparent;
	position: absolute;
	top: 25%;
	right: 5px;
	margin-top: -1px;
	transform: rotate(-45deg);
	transition: .5s;
}

.linkklein:hover::before {
	right: -4px;
	background: #E58654;
}

.linkklein.weiss:hover::before {
	background: #ffffff;
}

.linkklein:hover::after {
	right: -4px;
}

.linkmitte{
	position: relative;
	top: 50%;
}

.linkmehr {
	font-size: 18px;
	text-align: center;
	display: block;
	margin-top: 1em;

	@include media(l) {
		display: none;
	  }

	@include media(m) {
		display: none;
	  }

}
 
.kreis-mobile{
	display: block;
  
	@include media(l) {
	  display: none;
	}
	@include media(m) {
	  display: none;
	}
}

.kreisgruppe{
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}
.kreis{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid white;
	margin-right: 0.5em;
	//margin-top: 1em;
	float: left;
	display: block;
  
	@include media(l) {
	  display: none;
	}
	@include media(m) {
	  display: none;
	}
  
  }
  
  .kreisvoll{
	background-color: white;
	width: 18px;
	height: 18px;
  
  }