// Hauptspalte
.container {
  width: 96%;
  max-width: 60rem;
  margin: 0 auto; // center
}

.content-container {
  overflow: auto;
  height: calc(100vh - 224px);
}

.footer {
  display: flex;
  height: 204px;
  background-color: #2E2D2D;
}