// Link Handling

img {
  display: block;
  width: 100%;
  max-width: 100%;
  // margin-top: 2rem;
}

.imghover {
  position: relative;

  
}

.imghover:hover .overlay {
  opacity: 1;

  display: none;

  @include media(l) {
    display: block;
  }
  @include media(m) {
    display: block;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff;

}


.gradientbox {
  position: relative;
  img {
    height: 273px;
    object-fit: cover;
  }

}

.gradient {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(109, 114, 120, 0) 0%,
    #04050a 100%
  );
}

.textbox {
  text-align: left;
  margin-left: 0.8rem;
  margin-top: 2rem;
  margin-right: 0.2rem;
  position: relative;
  top: 30%;
  
  @include media(m) {
    top: 10%;
  }

  @include media(m) {
    top: 17%;
  }
}

.werbung {
  background-color: #bd5f3b;
}

.werbung-mobile{
  display: none;

  @include media(l) {
    display: block;
  }
  @include media(m) {
    display: block;
  }
}

.herz{
  position: absolute;
  img {
    width: 26px;
    height: 23px;
    margin-top: 0.2rem;
  }
}

.kommentar{
  display: flex;
  margin: 20px 0 0 20px;
  p{
  font-size: inherit;
  font-family: inherit;
  margin-top: 0.2rem;
  }
  img {
    width: 26px;
    height: 23px;
    margin-top: 0.3rem;
    margin-right: 1em;
  }
}

.kolumne{
  display: flex;
}

.abstand{
  margin-bottom: 2rem;
  display: none;

  @include media(l) {
    display: block;
  }

  @include media(m) {
    display: none;
  }
}

.socialmedia{
  display: flex;
  width: 30px;
  height: 30px;

  img{
  margin-right: 1em;
  }

}


.topstorybild:nth-child(even) .grid-12 {
  flex-direction: row-reverse;
}
