// Link Handling

img {
  display: block;
  width: 100%;
  max-width: 100%;
  // margin-top: 2rem;
}

.imghover {
  position: relative;
}

.imghover:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff;
}


.gradientbox {
  position: relative;
  img {
    height: 273px;
    object-fit: cover;
  }
}

.gradient {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(109, 114, 120, 0) 0%,
    #04050a 100%
  );
}

.textbox {
  text-align: left;
  margin-left: 0.8rem;
  margin-top: 2rem;
  margin-right: 0.2rem;
  position: relative;
	top: 17%;
}

.werbung {
  background-color: #bd5f3b;
}

.herz{
  position: absolute;
  img {
    width: 25px;
    height: 22.5px;
    margin-top: 0.2rem;
  }
}

.abstand{
  margin-bottom: 2rem;
}

.socialmedia{
  display: flex;
  width: 40px;
  height: 40px;

}